@using Stratum.Feature.Navigation.Models
@using Stratum.Foundation.Common
@using Stratum.Foundation.Common.Utilities
@using Stratum.Foundation.Accounts.Services
@using Sitecore.Mvc
@model Header
@{
    Layout = null;
    AccountsService accService = new AccountsService();
    bool isUserAuthenticated = accService.IsAuthenticated();
    bool isExperienceEditor = SitecoreUtility.IsExperienceEditorMode();
    int index = 0;
    string currentPageUrl = HttpContext.Current.Request.Url.AbsolutePath;
    bool isHomePage = currentPageUrl == "" || currentPageUrl == CommonConstants.Characters.ForwardSlash;
}

@if (Model != null)
{
    <header id="header" class="fixed-top d-flex align-items-center" style="@(isExperienceEditor ? "margin-top:139px" : "")">
        <div class="container d-flex justify-content-between">

            <div class="logo" style="padding-top:5px;">
                @Html.Sitecore().BeginField(Model.LogoUrlId, Model.InnerItem, new { haschildren = true })
                @Html.Sitecore().Field(Model.LogoId, Model.InnerItem)
                @Html.Sitecore().EndField()
            </div>

            @if (isHomePage && (Model.NavLinks != null || isExperienceEditor))
            {
                if (isExperienceEditor && (Model.NavLinks == null || Model.NavLinks.Count == 0))
                {
                    <div>
                        <h3>Add Nav Links</h3>
                    </div>
                }
                else if (Model.NavLinks != null)
                {
                    <nav id="navbar" class="navbar">
                        <ul>
                            @foreach (NavLink navlink in Model.NavLinks)
                            {
                                if (navlink.InnerItem.HasChildren)
                                {
                                    <li class="dropdown">
                                        <a href="#"><span>@navlink.LinkDescription</span> <i class="bi bi-chevron-down"></i></a>
                                        <ul>
                                            @foreach (NavLink sublink in navlink.SubLinks)
                                            {
                                                if (sublink.InnerItem.HasChildren)
                                                {
                                                    <li class="dropdown">
                                                        <a href="#"><span>@sublink.LinkDescription</span> <i class="bi bi-chevron-right"></i></a>
                                                        <ul>
                                                            @foreach (NavLink deeplink in sublink.SubLinks)
                                                            {
                                                                <li>
                                                                    @Html.Sitecore().Field(deeplink.LinkId, deeplink.InnerItem)
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        @Html.Sitecore().Field(sublink.LinkId, sublink.InnerItem)
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    if (index == 0)
                                    {
                                        <li>
                                            @Html.Sitecore().Field(navlink.LinkId, navlink.InnerItem, new { @class = "nav-link scrollto active" })
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.Sitecore().Field(navlink.LinkId, navlink.InnerItem, new { @class = "nav-link scrollto" })
                                        </li>
                                    }
                                }

                                index++;
                            }
                            <li class="dropdown" style="margin-top:2px;">
                                <a href="#">
                                    <span><i class="bx @(isUserAuthenticated ? "bxs-user-circle" : "bx-user-circle")" style="font-size:20px; margin-top:12px;"></i></span>
                                    @if (isUserAuthenticated)
                                    {
                                        <span style="margin-top:-2px;">&nbsp;@accService.GetLastName()</span>
                                    }
                                    &nbsp;<i class="bi bi-chevron-down"></i>
                                </a>
                                <ul>
                                    @if (isUserAuthenticated)
                                    {
                                        if (isExperienceEditor)
                                        {
                                            <li>
                                                @Html.Sitecore().Field(Model.SignOutPageId, Model.InnerItem, new { @class = "nav-link" })
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a class="nav-link" href="@Model.SignOutPageUrl" target="_self">@Model.SignOutPageLabel</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.Sitecore().Field(Model.SignInPageId, Model.InnerItem, new { @class = "nav-link" })
                                        </li>
                                        <li>
                                            @Html.Sitecore().Field(Model.SignUpPageId, Model.InnerItem, new { @class = "nav-link" })
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                }
            }
        </div>
    </header>
}
else
{
    <span></span>
}
