@using Stratum.Feature.Base
@using Stratum.Feature.PageContent.Models
@using Sitecore.Mvc
@using Stratum.Foundation.Common.Utilities
@model Gallery
@{
    Layout = null;
    bool isExperienceEditor = SitecoreUtility.IsExperienceEditorMode();
}

@if (Model != null)
{
    <div class="row portfolio-container" data-aos="fade-up">
        @if ((Model.Images != null && Model.Images.Count > 0) || isExperienceEditor)
        {
            if ((Model.Images == null || Model.Images.Count == 0) && isExperienceEditor)
            {
                <div>
                    <h3>Select Gallery images folder(s) or add images to selected folder(s).</h3>
                </div>
            }
            else if (Model.Images != null && Model.Images.Count > 0)
            {
                foreach (GalleryImage gImage in Model.Images)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            @Html.Sitecore().Field(gImage.ImageId, gImage.InnerItem, new { @class = "img-fluid" })
                            <div class="portfolio-info">
                                @if ((!string.IsNullOrWhiteSpace(gImage.Title)) || isExperienceEditor)
                                {
                                    @Html.Sitecore().Field(gImage.TitleId, gImage.InnerItem)
                                }
                                @if ((!string.IsNullOrWhiteSpace(gImage.Description)) || isExperienceEditor)
                                {
                                    @Html.Sitecore().Field(gImage.DescriptionId, gImage.InnerItem)
                                }
                                <div class="portfolio-links">
                                    @if (!string.IsNullOrWhiteSpace(gImage.ImageUrl))
                                    {
                                        <a href="@gImage.ImageUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@gImage.Title"><i class="bx bx-plus"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(gImage.CtaUrl))
                                    {
                                        @Html.Sitecore().BeginField(gImage.CtaId, gImage.InnerItem, new { haschildren = true })
                                        <i class="bx bx-link"></i>
                                        @Html.Sitecore().EndField()
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    if (Model.Pagination != null && Model.Pagination.TotalPages > 1)
    {
        @Html.Partial(BaseConstants.PaginationViewPath, Model.Pagination)
    }
}
else
{
    <span></span>
}
