@using Stratum.Feature.PageContent.Models
@using Sitecore.Mvc
@using Stratum.Foundation.Common.Models
@using Stratum.Foundation.Common.Services
@using Stratum.Foundation.Common.Utilities
@model Accordion
@{
    Layout = null;
    BaseRenderingParams brParams = new CommonService().GetBaseRenderingParams();
    bool isExperienceEditor = SitecoreUtility.IsExperienceEditorMode();
    int delaySeconds = 100;
    AccordionPanel panel = null;
}

@if (Model != null)
{
    <section id="@brParams.SectionId" class="@brParams.SectionCssClass @(brParams.AddDefaultBackgroundColor ? "section-bg" : "")" style="@(brParams.AddDefaultBackgroundColor ? "" : string.Format("background-color:{0}", brParams.BackgroundColor))">
        <div class="container">

            @if ((!string.IsNullOrWhiteSpace(Model.Title)) ||
                (!string.IsNullOrWhiteSpace(Model.Description)) || isExperienceEditor)
            {
                <div class="section-title" data-aos="fade-up">
                    @if ((!string.IsNullOrWhiteSpace(Model.Title)) || isExperienceEditor)
                    {
                        @Html.Sitecore().Field(Model.TitleId, Model.InnerItem)
                    }
                    @if ((!string.IsNullOrWhiteSpace(Model.Description)) || isExperienceEditor)
                    {
                        @Html.Sitecore().Field(Model.DescriptionId, Model.InnerItem)
                    }
                </div>
            }

            <div class="faq-list">
                @if ((Model.Panels != null && Model.Panels.Count > 0) || isExperienceEditor)
                {
                    if ((Model.Panels == null || Model.Panels.Count == 0) && isExperienceEditor)
                    {
                        <div>
                            <h3>Add Accordion Panel child items</h3>
                        </div>
                    }
                    else if (Model.Panels != null && Model.Panels.Count > 0)
                    {
                        <ul>
                            @for (int index = 0; index < Model.Panels.Count; index++)
                            {
                                panel = Model.Panels[index];
                                if (panel != null)
                                {
                                    <li data-aos="fade-up" data-aos-delay="@(index * delaySeconds)">
                                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#acc-list-@index" class="@(index == 0 ? "collapse" : "collapsed")">@Html.Sitecore().Field(panel.TitleId, panel.InnerItem) <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                        <div id="acc-list-@index" class="@(index == 0 ? "collapse show" : "collapse")" data-bs-parent=".faq-list">
                                            @Html.Sitecore().Field(panel.DescriptionId, panel.InnerItem)
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </section>
}
else
{
    <span></span>
}

