@using Stratum.Feature.PageContent.Models
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation;
@using Stratum.Foundation.Common.Utilities
@model ColumnsSection
@{
    Layout = null;
    bool isExperienceEditor = SitecoreUtility.IsExperienceEditorMode();
}

@if (Model != null)
{
    <section id="@Model.SectionId" class="@Model.SectionCssClass">
        <div class="container">
            @if ((!MvcHtmlString.IsNullOrEmpty(Model.Title)) || (!MvcHtmlString.IsNullOrEmpty(Model.Description)) || isExperienceEditor)
            {
                <div class="section-title" data-aos="fade-up">
                    @if ((!MvcHtmlString.IsNullOrEmpty(Model.Title)) || isExperienceEditor)
                    {
                        @Model.Title
                    }
                    @if ((!MvcHtmlString.IsNullOrEmpty(Model.Description)) || isExperienceEditor)
                    {
                        @Model.Description
                    }
                </div>
            }
            <div class="row" data-aos="fade-up">
                @Html.Sitecore().DynamicPlaceholder(new DynamicPlaceholderDefinition("col-section")
                       {
                           Count = Model.NumberOfColumns,
                           MaxCount = 12,
                           Seed = 1,
                           OutputModifier = (input, context) => new HtmlString("<div class=\"" + Model.ColumnCssClass + "\">" + input + "</div>"),
                       })
            </div>
        </div>
    </section>
}
else
{
    <span></span>
}
